<div class="resourcelist">
  <fb-card style="border-radius: unset">
    <fb-card-header>
      <span fbCardTitle>
        <div class="title-block">
          <div class="w-50">
            <fb-button
              variant="ghost"
              (pressed)="close()"
              matTooltip="Close Group List"
              matTooltipPosition="right"
              ariaLabel="Close Group List"
            >
              <fb-icon name="arrow_back" ariaLabel=""></fb-icon>
            </fb-button>
          </div>
          <div class="flex-auto pt-sm">Resource Groups</div>
        </div>
      </span>
    </fb-card-header>
    <fb-card-content>
      <div class="flex">
        <div class="flex-auto pl-xs">
          <fb-search-input
            label="Filter groups"
            [value]="filterText"
            (valueChange)="filterKeyUp($event)"
            [widthPx]="180"
          />
        </div>
        <div>
          <fb-button
            variant="ghost"
            (pressed)="itemProperties(undefined)"
            matTooltip="New Group"
            matTooltipPosition="below"
            ariaLabel="New Group"
          >
            <fb-icon name="add" ariaLabel=""></fb-icon>
          </fb-button>
          <fb-button
            variant="ghost"
            (pressed)="initItems()"
            matTooltip="Reload Groups"
            matTooltipPosition="below"
            ariaLabel="Reload Groups"
          >
            <fb-icon name="refresh" ariaLabel=""></fb-icon>
          </fb-button>
        </div>
      </div>
    </fb-card-content>
  </fb-card>

  <div class="resources">
    @if(this.app.sIsFetching()) {
    <fb-progress-bar indeterminate></fb-progress-bar>
    }
    <cdk-virtual-scroll-viewport class="vscroller" itemSize="120">
      <fb-card
        *cdkVirtualFor="let r of filteredList(); let i= index;"
        class="list-divider"
      >
        <fb-card-content>
          <div class="flex pl-xs">
            <div class="list-name-col">
              <div
                style="
                  padding-top: var(--space-md);
                  text-overflow: ellipsis;
                  overflow-x: hidden;
                  white-space: pre;
                "
              >
                <b>{{r[1].name}}</b>
              </div>
              <div
                style="
                  text-overflow: ellipsis;
                  overflow-x: hidden;
                  white-space: pre;
                "
              >
                {{r[1].description}}
              </div>
              <div>
                <i> </i>
              </div>
            </div>
            <div class="text-right">
              <fb-checkbox
                [checked]="!!r[2]"
                [disabled]="!!r[2]"
                (checkedChange)="itemSelect($event, r[0])"
                matTooltip="Display Group Resources"
                matTooltipPosition="left"
              >
              </fb-checkbox>
            </div>
          </div>
        </fb-card-content>
        <fb-card-actions align="start">
          <div class="flex">
            <div class="flex-auto">
              <fb-button
                variant="ghost"
                (pressed)="itemDelete(r[0])"
                matTooltip="Delete Group"
                matTooltipPosition="above"
                ariaLabel="Delete Group"
              >
                <fb-icon name="delete" ariaLabel=""></fb-icon>
              </fb-button>
            </div>
            <div>
              <fb-button
                variant="ghost"
                (pressed)="itemProperties(r[0])"
                matTooltip="Edit Group Properties"
                matTooltipPosition="above"
                ariaLabel="Edit Group Properties"
              >
                <fb-icon name="edit" ariaLabel=""></fb-icon>
              </fb-button>
            </div>
          </div>
        </fb-card-actions>
      </fb-card>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
