<div class="resourcelist">
  <fb-card style="border-radius: unset">
    <fb-card-header>
      <span fbCardTitle>
        <div class="title-block">
          <div class="w-50">
            <fb-button
              variant="ghost"
              (pressed)="close()"
              matTooltip="Close Track List"
              matTooltipPosition="above"
              ariaLabel="Close Track List"
            >
              <fb-icon name="arrow_back" ariaLabel=""></fb-icon>
            </fb-button>
          </div>
          <div class="flex-auto pt-sm">Tracks</div>
        </div>
      </span>
    </fb-card-header>
    <fb-card-content>
      <div class="flex">
        <div class="flex-auto pl-xs">
          <fb-search-input
            label="Filter tracks"
            [value]="filterText"
            (valueChange)="filterKeyUp($event)"
            [widthPx]="180"
          />
        </div>
        <div>
          <fb-button
            variant="ghost"
            (pressed)="initItems()"
            matTooltip="Reload Tracks"
            matTooltipPosition="below"
            ariaLabel="Reload Tracks"
          >
            <fb-icon name="refresh" ariaLabel=""></fb-icon>
          </fb-button>
        </div>
        <div>
          <fb-checkbox
            #selall
            [disabled]="fullList.length === 0"
            [checked]="allSel"
            [indeterminate]="someSel"
            (checkedChange)="toggleAll($event)"
            [matTooltip]="(!selall.checked() || someSel) ? 'Select All' : 'Deselect All'"
            matTooltipPosition="below"
          >
          </fb-checkbox>
        </div>
      </div>
    </fb-card-content>
  </fb-card>

  <div class="resources">
    @if(this.app.sIsFetching()) {
    <fb-progress-bar indeterminate></fb-progress-bar>
    }
    <cdk-virtual-scroll-viewport class="vscroller" itemSize="120">
      <fb-card
        *cdkVirtualFor="let r of filteredList(); let i= index;"
        class="list-divider"
      >
        <fb-card-content>
          <div class="flex pl-xs">
            <div class="list-name-col">
              <div
                style="
                  padding-top: var(--space-md);
                  text-overflow: ellipsis;
                  overflow-x: hidden;
                  white-space: pre;
                "
              >
                <b>{{r[1].feature.properties?.name || i}}</b>
              </div>
              <remark
                style="
                  flex: 1 1 auto;
                  text-align: left;
                  font-style: italic;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  line-clamp: 2;
                  text-overflow: ellipsis;
                "
                [markdown]="r[1].description ?? ''"
              >
                <ng-template remarkTemplate="heading" let-node>
                  <h1
                    [remarkNode]="node"
                    style="font-size: var(--font-size-sm)"
                  ></h1>
                </ng-template>
              </remark>
            </div>
            <div class="text-right">
              <fb-checkbox
                [checked]="r[2]"
                (checkedChange)="itemSelect($event, r[0])"
                matTooltip="Show on Map"
                matTooltipPosition="left"
              >
              </fb-checkbox>
            </div>
          </div>
        </fb-card-content>
        <fb-card-actions align="start">
          <div class="flex">
            <div class="flex-auto">
              <fb-button
                variant="ghost"
                (pressed)="itemDelete(r[0])"
                matTooltip="Delete Track"
                matTooltipPosition="above"
                ariaLabel="Delete Track"
              >
                <fb-icon name="delete" ariaLabel=""></fb-icon>
              </fb-button>
            </div>
            <div>
              <fb-button
                variant="ghost"
                (pressed)="itemProperties(r[0])"
                matTooltip="Track Properties"
                matTooltipPosition="above"
                ariaLabel="Track Properties"
              >
                <fb-icon name="edit" ariaLabel=""></fb-icon>
              </fb-button>
            </div>
            <div>
              <fb-button
                variant="ghost"
                [disabled]="app.uiConfig().mapMove"
                (pressed)="emitCenter(r[1].feature.geometry.coordinates[0][0])"
                matTooltip="Center Track"
                matTooltipPosition="above"
                ariaLabel="Center Track"
              >
                <fb-icon name="center_focus_strong" ariaLabel=""></fb-icon>
              </fb-button>
            </div>
          </div>
        </fb-card-actions>
      </fb-card>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
