<div
  [ngClass]="{
    'dark-theme': app.config.display.darkMode.enabled
  }"
>
  <div class="appframe fb-app-background">
    <!--toolbar button menus-->
    <ng-template #layersmenuTpl let-close="close">
      <button
        type="button"
        class="fb-menu-item"
        (click)="displayLeftMenu('routeList', true); close()"
      >
        <fb-icon class="icon-route" svgName="route" ariaLabel=""></fb-icon>
        &nbsp;Routes
      </button>
      <button
        type="button"
        class="fb-menu-item"
        (click)="displayLeftMenu('waypointList', true); close()"
      >
        <fb-icon
          class="icon-waypoint"
          name="location_on"
          ariaLabel=""
        ></fb-icon>
        &nbsp;Waypoints
      </button>
      <button
        type="button"
        class="fb-menu-item"
        (click)="displayLeftMenu('noteList', true); close()"
      >
        <fb-icon name="local_offer" ariaLabel=""></fb-icon>
        &nbsp;Notes
      </button>
      <button
        type="button"
        class="fb-menu-item"
        (click)="displayLeftMenu('regionList', true); close()"
      >
        <fb-icon name="tab_unselected" ariaLabel=""></fb-icon>
        &nbsp;Regions
      </button>
      <button
        type="button"
        class="fb-menu-item"
        (click)="displayLeftMenu('chartList', true); close()"
      >
        <fb-icon name="map" ariaLabel=""></fb-icon>
        &nbsp;Charts
      </button>
      @if (app.featureFlags().resourceGroups) {
        <button
          type="button"
          class="fb-menu-item"
          (click)="displayLeftMenu('resourceGroups', true); close()"
        >
          <fb-icon name="category" ariaLabel=""></fb-icon>
          &nbsp;Groups
        </button>
      }
      @if (app.featureFlags().infoLayers) {
        <button
          type="button"
          class="fb-menu-item"
          (click)="displayLeftMenu('infoLayerList', true); close()"
        >
          <fb-icon name="layers" ariaLabel=""></fb-icon>
          &nbsp;Overlays
        </button>
      }

      <hr class="fb-menu-divider" />
      <div
        class="fb-menu-item"
        role="menuitem"
        tabindex="0"
        (click)="close()"
        (keydown.enter)="close()"
        (keydown.space)="close()"
      >
        <ap-file-input
          accept=".gpx,.json"
          [astext]="true"
          (chosen)="importFile($event)"
        >
          <fb-icon class="ob" svgName="route-import" ariaLabel=""></fb-icon>
          Import
        </ap-file-input>
      </div>
      <button
        type="button"
        class="fb-menu-item"
        (click)="exportToGPX(); close()"
      >
        <fb-icon class="ob" svgName="route-export" ariaLabel=""></fb-icon>
        &nbsp;Export
      </button>

      <hr class="fb-menu-divider" />
      @if (app.featureFlags().resourceTracks) {
        <button
          type="button"
          class="fb-menu-item"
          (click)="displayLeftMenu('trackList', true); close()"
        >
          <fb-icon class="icon-warn" name="show_chart" ariaLabel=""></fb-icon>
          &nbsp;Tracks
        </button>
      }
      @if (app.config.resources.paths.length !== 0) {
        @for (p of app.config.resources.paths.sort(); track p) {
          <button
            type="button"
            class="fb-menu-item"
            (click)="openExperiment({ choice: p, value: null }); close()"
          >
            <fb-icon
              class="ob"
              svgName="chart-display-settings-iec"
              ariaLabel=""
            ></fb-icon>
            &nbsp;{{ p }}
          </button>
        }
      }
    </ng-template>

    <ng-template #settingsmenuTpl let-close="close">
      @if (app.config.vessels.trail && app.selfTrail().length !== 0) {
        <button
          type="button"
          class="fb-menu-item"
          (click)="clearTrail(app.data.serverTrail); close()"
        >
          <fb-icon name="clear_all" ariaLabel=""></fb-icon>
          <span>{{ app.data.serverTrail ? 'Refresh' : 'Clear' }} Trail</span>
        </button>
        <button
          type="button"
          class="fb-menu-item"
          (click)="trailToRoute(); close()"
        >
          <fb-icon name="insights" ariaLabel=""></fb-icon>
          <span>Trail to Route</span>
        </button>
        <hr class="fb-menu-divider" />
      }
      @if (course.courseData().position) {
        <button
          type="button"
          class="fb-menu-item"
          (click)="clearDestination(); close()"
        >
          <fb-icon name="clear_all" ariaLabel=""></fb-icon>
          @if (app.data.activeRoute) {
            <span>Clear Active Route</span>
          } @else {
            <span>Clear Destination</span>
          }
        </button>
        <button
          type="button"
          class="fb-menu-item"
          (click)="clearCourseData(); close()"
        >
          <fb-icon name="clear_all" ariaLabel=""></fb-icon>
          <span>Clear Course Data</span>
        </button>
        <hr class="fb-menu-divider" />
      }

      <button
        type="button"
        class="fb-menu-item"
        (click)="toggleCourseData(); close()"
      >
        <fb-icon
          [name]="
            app.config.ui.showCourseData ? 'visibility_off' : 'compare_arrows'
          "
          ariaLabel=""
        ></fb-icon>
        <span
          >{{ app.config.ui.showCourseData ? 'Hide' : 'Show' }} Course
          Data</span
        >
      </button>
      <button
        type="button"
        class="fb-menu-item"
        (click)="toggleAisTargets(); close()"
      >
        <fb-icon
          [name]="
            app.config.ui.showAisTargets ? 'visibility_off' : 'directions_boat'
          "
          ariaLabel=""
        ></fb-icon>
        <span
          >{{ app.config.ui.showAisTargets ? 'Hide' : 'Show' }} Vessels</span
        >
      </button>
      <button
        type="button"
        class="fb-menu-item"
        (click)="toggleNotes(); close()"
      >
        <fb-icon
          [name]="app.config.ui.showNotes ? 'visibility_off' : 'local_offer'"
          ariaLabel=""
        ></fb-icon>
        <span>{{ app.config.ui.showNotes ? 'Hide' : 'Show' }} Notes</span>
      </button>
      @if (app.featureFlags().weatherApi && app.data.vessels.showSelf) {
        <hr class="fb-menu-divider" />
        <button
          type="button"
          class="fb-menu-item"
          (click)="showWeather('forecast'); close()"
        >
          <fb-icon name="air" ariaLabel=""></fb-icon>
          <span>Weather Forecast</span>
        </button>
      }
      <hr class="fb-menu-divider" />
      <button
        type="button"
        class="fb-menu-item"
        (click)="openSettings(); close()"
      >
        <fb-icon name="settings" ariaLabel=""></fb-icon>
        <span>Settings</span>
      </button>
    </ng-template>

    <ng-template #editmenuTpl let-close="close">
      <button
        type="button"
        class="fb-menu-item"
        (click)="mapInteract.startMeasuring('LineString'); close()"
      >
        <fb-icon name="straighten" ariaLabel=""></fb-icon>
        <span>Measure</span>
      </button>
      <button
        type="button"
        class="fb-menu-item"
        (click)="mapInteract.startMeasuring('Circle'); close()"
      >
        <fb-icon name="swap_vertical_circle" ariaLabel=""></fb-icon>
        <span>Measure Radius</span>
      </button>
      <hr class="fb-menu-divider" />
      <button
        type="button"
        class="fb-menu-item"
        (click)="drawFeature('route'); close()"
      >
        <fb-icon class="icon-route" name="draw" ariaLabel=""></fb-icon>
        <span>Draw Route</span>
      </button>
      <button
        type="button"
        class="fb-menu-item"
        (click)="toggleRouteBuilderConsole(true); close()"
      >
        <fb-icon
          class="icon-route"
          svgName="route-planning"
          ariaLabel=""
        ></fb-icon>
        <span>Build Route</span>
      </button>
      <hr class="fb-menu-divider" />
      @if (app.data.vessels.showSelf) {
        @if (app.data.vessels.active.position; as activePos) {
          <button
            type="button"
            class="fb-menu-item"
            (click)="skres.newWaypointAt(activePos); close()"
          >
            <fb-icon
              class="icon-waypoint"
              name="add_location"
              ariaLabel=""
            ></fb-icon>
            <span>Add Waypoint at Vessel</span>
          </button>
        }
      }
      <button
        type="button"
        class="fb-menu-item"
        (click)="drawFeature('waypoint'); close()"
      >
        <fb-icon
          class="icon-waypoint"
          name="add_location_alt"
          ariaLabel=""
        ></fb-icon>
        <span>Drop Waypoint</span>
      </button>
      <hr class="fb-menu-divider" />
      @if (
        this.app.config.map.zoomLevel >= this.app.config.resources.notes.minZoom
      ) {
        <button
          type="button"
          class="fb-menu-item"
          (click)="drawFeature('note'); close()"
        >
          <fb-icon name="local_offer" ariaLabel=""></fb-icon>
          <span>Add Note</span>
        </button>
      }
      <button
        type="button"
        class="fb-menu-item"
        (click)="drawFeature('region'); close()"
      >
        <fb-icon name="tab_unselected" ariaLabel=""></fb-icon>
        <span>Draw Region</span>
      </button>
    </ng-template>

    <ng-template #mainmenuTpl let-close="close">
      @if (!app.hostDef.params['token'] && app.data.loginRequired) {
        <button
          type="button"
          class="fb-menu-item"
          (click)="showLogin(undefined, false); close()"
        >
          <fb-badge
            value="!"
            position="below after"
            [hidden]="app.isLoggedIn()"
          >
            <fb-icon name="account_circle" ariaLabel=""></fb-icon>
          </fb-badge>
          <span>{{ app.isLoggedIn() ? 'Change User' : 'Login' }}</span>
        </button>
        <hr class="fb-menu-divider" />
      }
      @if (!isInteracting() && app.featureFlags().anchorApi) {
        <button
          type="button"
          class="fb-menu-item"
          (click)="displayLeftMenu('anchorWatch', true); close()"
        >
          <fb-icon name="anchor" ariaLabel=""></fb-icon>
          <span>Anchor Watch</span>
        </button>
      }
      @if (
        app.config.experiments &&
        !isInteracting() &&
        app.featureFlags().radarApi &&
        radarApi.defaultRadar()
      ) {
        <button
          type="button"
          class="fb-menu-item"
          (click)="toggleRadar(); close()"
        >
          @if (app.uiCtrl().radarLayer) {
            <fb-icon
              class="icon-accent"
              name="check_box"
              ariaLabel=""
            ></fb-icon>
          } @else {
            <fb-icon class="ob" svgName="radar-iec" ariaLabel=""></fb-icon>
          }
          <span>Radar Overlay</span>
        </button>
      }
      <button
        type="button"
        class="fb-menu-item"
        (click)="displayLeftMenu('aisList', true); close()"
      >
        <fb-icon name="directions_boat" ariaLabel=""></fb-icon>
        <span>Vessels</span>
      </button>

      <button
        type="button"
        class="fb-menu-item"
        (click)="importResourceSet(); close()"
      >
        <fb-icon name="upload" ariaLabel=""></fb-icon>
        <span>Resource Sets</span>
      </button>

      @if (features.playbackAPI) {
        <button
          type="button"
          class="fb-menu-item"
          (click)="showPlaybackSettings(); close()"
        >
          <fb-icon name="history" ariaLabel=""></fb-icon>
          <span>Playback History</span>
        </button>
      }

      <hr class="fb-menu-divider" />
      <button
        type="button"
        class="fb-menu-item"
        (click)="openSettings(); close()"
      >
        <fb-icon name="settings" ariaLabel=""></fb-icon>
        <span>Settings</span>
      </button>
      <hr class="fb-menu-divider" />
      <button type="button" class="fb-menu-item" (click)="openAbout(); close()">
        <fb-icon class="icon-accent" name="info" ariaLabel=""></fb-icon>
        <span>About</span>
      </button>

      <button
        type="button"
        class="fb-menu-item"
        (click)="app.showHelp(); close()"
      >
        <fb-icon class="icon-accent" name="help" ariaLabel=""></fb-icon>
        <span>Help</span>
      </button>
    </ng-template>
    <!--/toolbar button menus-->

    <!-- content -->
    <div class="view" theme-main>
      <div class="app-shell">
        <!--info-panel-->
        <aside
          class="app-shell__left"
          [class.app-shell__left--open]="infoPanel.opened()"
        >
          <info-panel>
            @if (infoPanel.item(); as ipItem) {
              @if (ipItem.kind === 'resource' && ipItem.type === 'notes') {
                <note-panel
                  [note]="infoPanelNote()!"
                  [id]="ipItem.id"
                  (edit)="
                    skres.showNoteEditor({
                      id: $event
                    })
                  "
                  (delete)="deleteResourceFromPanel(ipItem)"
                  (info)="infoFromResource(ipItem)"
                  (panTo)="centerAndZoom($event.center, $event.zoomLevel)"
                />
              }
              @if (ipItem.kind === 'resource' && ipItem.type === 'regions') {
                <region-panel
                  [region]="infoPanelRegion()!"
                  [id]="ipItem.id"
                  [related]="infoPanel.related()"
                  (edit)="skres.editRegionInfo($event)"
                  (delete)="deleteResourceFromPanel(ipItem)"
                  (info)="infoFromResource(ipItem)"
                  (addNote)="addNoteFromResource(ipItem)"
                  (showRelated)="showRelatedFromResource($event)"
                  (showNotes)="showNotesFromResource(ipItem)"
                  (panTo)="centerAndZoom($event.center, $event.zoomLevel)"
                />
              }
              @if (ipItem.kind === 'resource' && ipItem.type === 'waypoints') {
                <waypoint-panel
                  [waypoint]="infoPanelWaypoint()!"
                  [id]="ipItem.id"
                  [related]="infoPanel.related()"
                  (edit)="skres.editWaypointInfo($event)"
                  (delete)="deleteResourceFromPanel(ipItem)"
                  (info)="infoFromResource(ipItem)"
                  (activate)="activateWaypoint($event)"
                  (deactivate)="clearActiveDestination()"
                  (addNote)="addNoteFromResource(ipItem)"
                  (showRelated)="showRelatedFromResource($event)"
                  (showNotes)="showNotesFromResource(ipItem)"
                  (panTo)="centerAndZoom($event.center, $event.zoomLevel)"
                />
              }
              @if (ipItem.kind === 'resource' && ipItem.type === 'routes') {
                <route-panel
                  [route]="infoPanelRoute()!"
                  [id]="ipItem.id"
                  [related]="infoPanel.related()"
                  (edit)="skres.editRouteInfo($event)"
                  (activate)="activateRoute($event)"
                  (deactivate)="clearActiveDestination()"
                  (delete)="deleteResourceFromPanel(ipItem)"
                  (info)="infoFromResource(ipItem)"
                  (addNote)="addNoteFromResource(ipItem)"
                  (showRelated)="showRelatedFromResource($event)"
                  (showNotes)="showNotesFromResource(ipItem)"
                  (showPoints)="pointsFromResource(ipItem)"
                  (panTo)="centerAndZoom($event.center, $event.zoomLevel)"
                />
              }
              @if (ipItem.kind === 'vessel') {
                <fb-vessel-info-panel
                  [vessel]="ipItem.vessel"
                  [useMagnetic]="app.useMagnetic"
                  [isActive]="app.data.vessels.activeId === ipItem.id"
                  [isSelf]="ipItem.isSelf"
                  (info)="vesselInfoFromPanel(ipItem)"
                  (focused)="setActiveVessel($event ? ipItem.id : null)"
                  (markPosition)="skres.newWaypointAt($event)"
                  (panTo)="centerAndZoom($event.center, $event.zoomLevel)"
                />
              }
              @if (ipItem.kind === 'aircraft') {
                <fb-aircraft-info-panel
                  [target]="ipItem.target"
                  (info)="aircraftInfoFromPanel(ipItem)"
                  (panTo)="centerAndZoom($event.center, $event.zoomLevel)"
                />
              }
              @if (ipItem.kind === 'aton') {
                <fb-aton-info-panel
                  [target]="ipItem.target"
                  (info)="atonInfoFromPanel(ipItem)"
                  (panTo)="centerAndZoom($event.center, $event.zoomLevel)"
                />
              }
              @if (ipItem.kind === 'alarm') {
                <fb-alarm-info-panel
                  [alarm]="ipItem.alarm"
                  (silence)="silenceAlarm(ipItem.id)"
                  (acknowledge)="acknowledgeAlarm(ipItem.id)"
                  (resolve)="resolveAlarm(ipItem.id)"
                  (panTo)="centerAndZoom($event.center, $event.zoomLevel)"
                />
              }
              @if (ipItem.kind === 's57') {
                <fb-s57-info-panel
                  [properties]="ipItem.properties"
                  [titleOverride]="ipItem.title"
                />
              }
              @if (ipItem.kind === 'resourceset') {
                <fb-resourceset-info-panel
                  [resource]="ipItem.resource"
                  [titleOverride]="ipItem.title"
                  [readOnly]="ipItem.readOnly"
                  (modify)="modifyResourceSetFromPanel(ipItem)"
                  (delete)="deleteResourceSetFromPanel(ipItem)"
                  (info)="resourceSetInfoFromPanel(ipItem)"
                  (panTo)="centerAndZoom($event.center, $event.zoomLevel)"
                />
              }
              @if (ipItem.kind === 'featurelist') {
                <fb-featurelist-info-panel
                  [features]="ipItem.features"
                  [titleOverride]="ipItem.title"
                  (selected)="featureListSelectionFromPanel($event)"
                />
              }
              @if (ipItem.kind === 'chartlist') {
                <fb-chartlist-info-panel
                  [features]="ipItem.features"
                  (selected)="chartListSelectionFromPanel($event)"
                />
              }
            }
          </info-panel>
        </aside>

        <!--instrument-panel-->
        @if (app.instrumentPanelAvailable()) {
          <aside
            class="app-shell__right"
            [class.app-shell__right--open]="rightOpen()"
          >
            <div
              style="display: flex; flex-direction: column; position: relative"
            >
              <fb-nav-list ariaLabel="Plugin instrument navigation">
                <div role="listitem" class="plugin-nav-row">
                  <fb-button
                    variant="ghost"
                    ariaLabel="Close instruments panel"
                    (pressed)="toggleRight()"
                  >
                    <fb-icon name="arrow_forward" ariaLabel=""></fb-icon>
                  </fb-button>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  @if (app.config.display.plugins.instruments) {
                    <fb-button
                      variant="ghost"
                      ariaLabel="Open instruments in a new window"
                      (pressed)="openInstrumentsInNewWindow(); toggleRight()"
                      fbTooltip="Open Instruments in window."
                      fbTooltipPosition="right"
                    >
                      <fb-icon name="open_in_new" ariaLabel=""></fb-icon>
                    </fb-button>
                  }
                  &nbsp;&nbsp;
                  <fb-button
                    variant="ghost"
                    ariaLabel="Previous plugin"
                    (pressed)="selectPlugin()"
                    [disabled]="
                      app.config.display.plugins.favourites.length === 0
                    "
                    fbTooltip="Previous plugin"
                    fbTooltipPosition="below"
                  >
                    <fb-icon name="arrow_back_ios" ariaLabel=""></fb-icon>
                  </fb-button>
                  <fb-button
                    variant="ghost"
                    ariaLabel="Next plugin"
                    (pressed)="selectPlugin(true)"
                    [disabled]="
                      app.config.display.plugins.favourites.length === 0
                    "
                    fbTooltip="Next plugin"
                    fbTooltipPosition="below"
                  >
                    <fb-icon name="arrow_forward_ios" ariaLabel=""></fb-icon>
                  </fb-button>
                </div>
                <fb-divider />
              </fb-nav-list>
              <div
                style="
                  position: fixed;
                  bottom: 0;
                  top: 48px;
                  overflow: auto;
                  -webkit-overfow-scrolling: touch;
                "
              >
                @if (app.instrumentPanel().activate) {
                  <iframe
                    [src]="instUrl()"
                    style="width: 345px; height: 100%"
                    sandbox="allow-scripts allow-same-origin"
                  >
                  </iframe>
                }
              </div>
            </div>
          </aside>
        }
        <main class="app-shell__main">
          @if (app.sIsFetching()) {
            <div
              style="
                z-index: 4700;
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
              "
            >
              <fb-progress-bar indeterminate></fb-progress-bar>
            </div>
          }
          @if (app.uiCtrl().autopilotConsole) {
            <autopilot-console
              [apData]="app.data.vessels.self.autopilot"
              (close)="toggleAutopilotConsole(false)"
            ></autopilot-console>
          }
          @if (app.uiCtrl().routeBuilder) {
            <route-builder
              (save)="skres.newRouteAt($event.coordinates, $event.meta)"
              (close)="toggleRouteBuilderConsole(false)"
            >
            </route-builder>
          }
          @if (!app.kioskMode() && !this.app.uiCtrl().suppressContextMenu) {
            <!-- left button bar -->
            <div class="leftTop buttonPanel">
              <div class="buttonPanelItem">
                <fb-badge value="!" [hidden]="app.isLoggedIn()">
                  <fb-fab
                    variant="secondary"
                    icon="menu"
                    ariaLabel="Menu"
                    [disabled]="isInteracting()"
                    fbTooltip="Menu"
                    fbTooltipPosition="right"
                    (pressed)="openMainMenu($event)"
                  ></fb-fab>
                </fb-badge>
              </div>
            </div>
            @if (app.uiConfig().toolbarButtons) {
              <div class="buttonPanel left">
                <div class="buttonPanelItem">
                  <fb-badge
                    [value]="notiMgr.alerts().length"
                    severity="danger"
                    [ariaLabel]="notiMgr.alerts().length + ' active alarms'"
                    [hidden]="notiMgr.alerts().length === 0"
                  >
                    <fb-fab
                      variant="danger"
                      svgName="alert-list"
                      ariaLabel="Alarms"
                      fbTooltip="Alarms"
                      fbTooltipPosition="left"
                      (pressed)="toggleAlertList(true)"
                    ></fb-fab>
                  </fb-badge>
                </div>
                <div class="buttonPanelItem">
                  <fb-fab
                    variant="primary"
                    icon="layers"
                    ariaLabel="Resource layers"
                    [disabled]="isInteracting()"
                    fbTooltip="Routes, Waypoints, Notes, etc."
                    fbTooltipPosition="right"
                    (pressed)="openLayersMenu($event)"
                  ></fb-fab>
                </div>
                <div class="buttonPanelItem">
                  <fb-fab
                    variant="secondary"
                    icon="edit"
                    ariaLabel="Draw, measure, or select"
                    [disabled]="isInteracting()"
                    fbTooltip="Draw / Measure / Select"
                    fbTooltipPosition="right"
                    (pressed)="openEditMenu($event)"
                  ></fb-fab>
                </div>
                <div class="buttonPanelItem">
                  <fb-fab
                    [variant]="
                      app.uiConfig().mapNorthUp ? 'secondary' : 'primary'
                    "
                    [svgName]="
                      app.uiConfig().mapNorthUp
                        ? 'heading-n-up'
                        : 'heading-h-up'
                    "
                    [ariaLabel]="
                      app.uiConfig().mapNorthUp
                        ? 'Show Heading Up'
                        : 'Show North Up'
                    "
                    [fbTooltip]="
                      app.uiConfig().mapNorthUp
                        ? 'Show Heading Up'
                        : 'Show North Up'
                    "
                    fbTooltipPosition="right"
                    (pressed)="toggleNorthUp()"
                  ></fb-fab>
                </div>
                <div class="buttonPanelItem">
                  <fb-fab
                    [variant]="app.uiConfig().mapMove ? 'primary' : 'secondary'"
                    svgName="cent-iec"
                    [ariaLabel]="
                      app.uiConfig().mapMove
                        ? 'Turn off Follow Vessel'
                        : 'Follow Vessel'
                    "
                    [disabled]="!app.data.vessels.showSelf"
                    [fbTooltip]="
                      app.uiConfig().mapMove
                        ? 'Turn off Follow Vessel'
                        : 'Follow Vessel'
                    "
                    fbTooltipPosition="right"
                    (pressed)="toggleMoveMap()"
                  ></fb-fab>
                </div>
                @if (!app.uiConfig().mapMove) {
                  <div class="buttonPanelItem">
                    <fb-fab
                      variant="secondary"
                      icon="center_focus_strong"
                      ariaLabel="Center Vessel"
                      (pressed)="centerVessel()"
                      [disabled]="!app.data.vessels.showSelf"
                      fbTooltip="Center Vessel"
                      fbTooltipPosition="right"
                    ></fb-fab>
                  </div>
                }
                <div class="buttonPanelItem">
                  <fb-fab
                    variant="secondary"
                    icon="more_horiz"
                    ariaLabel="More actions"
                    [disabled]="isInteracting()"
                    fbTooltip="More actions"
                    fbTooltipPosition="right"
                    (pressed)="openSettingsMenu($event)"
                  ></fb-fab>
                </div>
                @if (mode === 1) {
                  <div class="buttonPanelItem">
                    <!-- Playback mode -->
                    <fb-fab
                      variant="danger"
                      icon="cancel"
                      ariaLabel="Exit playback mode"
                      fbTooltip="Exit playback mode"
                      fbTooltipPosition="right"
                      (pressed)="showSelectMode()"
                    ></fb-fab>
                  </div>
                }
              </div>
            }
            <!-- /left button bar-->

            <!--left menu panel-->
            @if (leftMenuCtrl().leftMenuPanel) {
              <div class="leftMenuPanel">
                @if (
                  leftMenuCtrl().routeList ||
                  leftMenuCtrl().waypointList ||
                  leftMenuCtrl().regionList
                ) {
                  @defer {
                    <resources-shell
                      [initialKind]="
                        leftMenuCtrl().routeList
                          ? 'routes'
                          : leftMenuCtrl().waypointList
                            ? 'waypoints'
                            : 'regions'
                      "
                      [activeRouteId]="app.data.activeRoute"
                      [activeWaypointId]="app.data.activeWaypoint"
                      (select)="
                        handleResourceInfo(
                          $event.collection,
                          $event.selection.id
                        )
                      "
                      (activate)="activateRoute($event.id)"
                      (deactivate)="clearDestination()"
                      (pan)="centerAndZoom($event.center, $event.zoomLevel)"
                      (center)="centerAndZoom($event)"
                      (closed)="displayLeftMenu()"
                    >
                    </resources-shell>
                  }
                }
                @if (leftMenuCtrl().chartList) {
                  @defer {
                    <chart-list
                      [selectedCharts]="app.config.selections.charts"
                      (closed)="displayLeftMenu()"
                    >
                    </chart-list>
                  }
                }
                @if (leftMenuCtrl().noteList) {
                  @defer {
                    <notes-shell
                      [notes]="skres.notes()"
                      (select)="handleResourceInfo('notes', $event.id)"
                      (pan)="centerAndZoom($event.center, $event.zoomLevel)"
                      (closed)="displayLeftMenu()"
                    >
                    </notes-shell>
                  }
                }
                @if (leftMenuCtrl().trackList) {
                  @defer {
                    <track-list
                      (center)="centerAndZoom($event)"
                      (closed)="displayLeftMenu()"
                    >
                    </track-list>
                  }
                }
                @if (leftMenuCtrl().aisList) {
                  @defer {
                    <ais-list
                      [focusId]="app.data.vessels.activeId"
                      (properties)="
                        featureProperties({ id: $event, type: 'ais' })
                      "
                      (closed)="displayLeftMenu()"
                      (focusVessel)="switchActiveVessel($event)"
                      (pan)="centerAndZoom($event.center, $event.zoomLevel)"
                    >
                    </ais-list>
                  }
                }
                @if (leftMenuCtrl().resourceGroups) {
                  @defer {
                    <group-list (closed)="displayLeftMenu()"> </group-list>
                  }
                }
                @if (leftMenuCtrl().infoLayerList) {
                  @defer {
                    <infolayer-list
                      (closed)="displayLeftMenu()"
                      (paramChanged)="onInfoLayerParamChange($event)"
                    ></infolayer-list>
                  }
                }
                @if (leftMenuCtrl().anchorWatch) {
                  <anchor-watch
                    [showSelf]="app.data.vessels.showSelf"
                    [radius]="this.anchor.radius()"
                    [raised]="anchor.raised()"
                    (closed)="displayLeftMenu()"
                  >
                  </anchor-watch>
                }
              </div>
            }

            <!-- Status Bar -->
            <div class="statusBar">
              @if (!wakeLock.enabled() && wakeLock.isAvailable) {
                <div class="statusBarItem">
                  <fb-icon
                    name="visibility_off"
                    ariaLabel=""
                    fbTooltip="WakeLock is turned off"
                    fbTooltipPosition="below"
                  ></fb-icon>
                </div>
              }
              @if (!app.uiConfig().showCourseData) {
                <div class="statusBarItem">
                  <fb-icon
                    name="compare_arrows"
                    ariaLabel=""
                    fbTooltip="Course data is hidden"
                    fbTooltipPosition="below"
                  ></fb-icon>
                </div>
              }
              @if (!app.uiConfig().showAisTargets) {
                <div class="statusBarItem">
                  <fb-icon
                    name="directions_boat"
                    ariaLabel=""
                    fbTooltip="Vessels are hidden"
                    fbTooltipPosition="below"
                  ></fb-icon>
                </div>
              }
              @if (!app.uiConfig().showNotes) {
                <div class="statusBarItem">
                  <fb-icon
                    name="local_offer"
                    ariaLabel=""
                    fbTooltip="Notes are hidden"
                    fbTooltipPosition="below"
                  ></fb-icon>
                </div>
              }
              @if (stream.watchDogAlarm()) {
                <div class="statusBarItem">
                  <fb-icon
                    name="signal_wifi_statusbar_connected_no_internet_4"
                    ariaLabel=""
                    style="
                      background-color: var(--color-error);
                      color: var(--color-on-primary);
                    "
                    fbTooltip="No server messages!"
                    fbTooltipPosition="below"
                  ></fb-icon>
                </div>
              }
            </div>

            <!-- right button bar -->
            <!-- show/hide  -->
            <div class="rightTop buttonPanel">
              <div class="buttonPanelItem">
                <fb-fab
                  variant="secondary"
                  [icon]="
                    app.uiConfig().toolbarButtons ? 'apps' : 'apps_outage'
                  "
                  [ariaLabel]="
                    app.uiConfig().toolbarButtons
                      ? 'Hide Toolbars'
                      : 'Show Toolbars'
                  "
                  (pressed)="toggleToolbarButtons()"
                  [fbTooltip]="
                    app.uiConfig().toolbarButtons
                      ? 'Hide Toobars'
                      : 'Show Toobars'
                  "
                  fbTooltipPosition="before"
                ></fb-fab>
              </div>
            </div>
            @if (app.uiConfig().toolbarButtons) {
              <div class="buttonPanel right">
                <!-- instrument sidebar open button -->
                <div class="instrumentPanelToggle buttonPanelItem">
                  @if (
                    app.instrumentPanelAvailable() &&
                    !isInteracting() &&
                    !app.data.vessels.activeId
                  ) {
                    <fb-fab
                      variant="secondary"
                      icon="av_timer"
                      ariaLabel="Instruments"
                      (pressed)="toggleRight()"
                      fbTooltip="Instruments"
                      fbTooltipPosition="before"
                    ></fb-fab>
                  }
                  <br />&nbsp;<br />&nbsp;
                </div>

                <!-- Web audio enable -->
                @if (audioStatus() !== 'running') {
                  <div class="buttonPanelItem">
                    <fb-fab
                      variant="secondary"
                      icon="volume_off"
                      ariaLabel="Enable Web Audio"
                      fbTooltip="Web Audio off! Click to enable."
                      fbTooltipPosition="before"
                      (pressed)="enableAudio()"
                    ></fb-fab>
                    <br />&nbsp;<br />
                  </div>
                }

                <!-- fullscreen enable -->
                @if (displayFullscreen().enabled) {
                  <div class="buttonPanelItem">
                    <fb-fab
                      [icon]="
                        displayFullscreen().active
                          ? 'fullscreen_exit'
                          : 'fullscreen'
                      "
                      [ariaLabel]="
                        displayFullscreen().active
                          ? 'Exit Fullscreen'
                          : 'Go Fullscreen'
                      "
                      [variant]="
                        displayFullscreen().active ? 'primary' : 'secondary'
                      "
                      (pressed)="toggleFullscreen()"
                      [fbTooltip]="
                        displayFullscreen().active
                          ? 'Exit Fullscreen '
                          : 'Go Fullscreen'
                      "
                      fbTooltipPosition="before"
                    ></fb-fab>
                    <br />&nbsp;<br />
                  </div>
                }

                <!-- constrain zoom to selected map(s) extent -->
                <div class="buttonPanelItem">
                  <fb-fab
                    icon="zoom_in_map"
                    ariaLabel="Constrain map zoom"
                    [variant]="
                      app.uiConfig().mapConstrainZoom ? 'primary' : 'secondary'
                    "
                    (pressed)="toggleConstrainMapZoom()"
                    fbTooltip="Constrain map zoom."
                    fbTooltipPosition="before"
                  ></fb-fab>
                  <br />&nbsp;<br />
                </div>

                <!-- Invert colors -->
                <div class="buttonPanelItem">
                  <fb-fab
                    [icon]="true ? 'invert_colors' : 'invert_colors_off'"
                    ariaLabel="Invert feature text color"
                    [variant]="
                      app.uiConfig().invertColor ? 'primary' : 'secondary'
                    "
                    (pressed)="invertFeatureLabelColor()"
                    fbTooltip="Invert feature text color."
                    fbTooltipPosition="before"
                  ></fb-fab>
                  <br />&nbsp;<br />
                </div>

                <!-- Experiments -->
                @if (app.config.experiments) {
                  <div class="buttonPanelItem">
                    <fb-experiments
                      (selected)="openExperiment($event)"
                    ></fb-experiments>
                    <br />&nbsp;<br />
                  </div>
                }
                <!-- PiP enable -->
                @if (
                  app.config.resources.video.enable &&
                  app.config.resources.video.url
                ) {
                  <div class="buttonPanelItem">
                    <pip-video
                      [src]="vidUrl()"
                      [muted]="true"
                      (click)="focusMap()"
                    >
                    </pip-video>
                    <br />&nbsp;<br />
                  </div>
                }

                <!-- Autopilot console-->
                @if (
                  app.featureFlags().autopilotApi &&
                  app.data.vessels.self.autopilot.default &&
                  app.config.display.fab !== 'autopilot'
                ) {
                  <div class="buttonPanelItem">
                    <fb-fab
                      [variant]="
                        app.data.vessels.self.autopilot.enabled
                          ? 'primary'
                          : 'secondary'
                      "
                      svgName="command-autopilot"
                      ariaLabel="Autopilot"
                      fbTooltip="Autopilot"
                      fbTooltipPosition="before"
                      (pressed)="toggleAutopilotConsole(true)"
                    ></fb-fab>
                    <br />&nbsp;<br />
                  </div>
                }
              </div>
            }
            <!-- /right button bar -->
          }
          <!--map panel-->
          <div
            style="display: relative; width: 100%; height: 100%"
            (dragover)="mapDragOver($event)"
            (drop)="mapDrop($event)"
          >
            <!-- MAP -->
            <fb-map
              [scaleUnits]="app.config.units.distance"
              [setFocus]="mapSetFocus()"
              [mapCenter]="mapCenter()"
              [mapZoom]="app.config.map.zoomLevel"
              [northUp]="app.uiConfig().mapNorthUp"
              [movingMap]="app.uiConfig().mapMove"
              [vesselTrail]="app.selfTrail()"
              [activeRoute]="app.data.activeRoute"
              [dblClickZoom]="app.config.map.doubleClickZoom"
              [overZoomTiles]="app.config.map.overZoomTiles"
              [measureMode]="mapInteract.isMeasuring()"
              [drawMode]="mapInteract.isDrawing()"
              (drawEnded)="handleDrawEnded($event)"
              (activate)="activateRoute($event)"
              (deactivate)="clearDestination()"
              (exitMovingMap)="toggleMoveMap($event)"
              (focusVessel)="switchActiveVessel($event)"
              (info)="featureProperties($event)"
              (menuItemSelected)="handleContextMenuSelection($event)"
            >
            </fb-map>
          </div>
          <!--/map panel-->

          <!-- North arrow. Positioned to the right of the .left buttonPanel
               column (--touch-primary + 2 * --space-sm = 72px) and below the
               OL zoom controls (same offset) so it does not overlap either. -->
          <div class="northArrow">
            <img
              #northArrow
              src="./assets/img/north_arrow.svg"
              [style.transform]="getOrientation()"
              width="50"
              height="70"
              alt="North arrow"
            />
          </div>

          <!-- *** Playback panel ***-->
          @if (mode === 1) {
            <div class="playbackPanel fb-app-background">
              <div style="border-radius: var(--radius-md)">
                <fb-icon name="access_time" ariaLabel=""></fb-icon>
                <b>Playback:</b>
              </div>
              <div style="text-align: center">{{ playbackTime() }}</div>
            </div>
          }

          <!-- *** Alarm / Mode panel ***-->
          @if (!app.kioskMode()) {
            @if (app.uiCtrl().alertList) {
              <alert-list
                [alerts]="notiMgr.alerts()"
                (closed)="toggleAlertList(false)"
              ></alert-list>
            }
            <div class="alarmPanel">
              @for (n of notiMgr.alerts(); track n[0]) {
                <span style="margin-bottom: var(--space-xs)">
                  <fb-alert
                    [audioStatus]="audioStatus()"
                    [alert]="n[1]"
                    [acknowledged]="n[1].acknowledged"
                    [silenced]="n[1].silenced"
                    [doNotPlaySound]="app.config.display.muteSound"
                    (nextPoint)="
                      course.coursePointIndex(
                        course.courseData().pointIndex + 1
                      )
                    "
                    (routeEnd)="clearDestination()"
                  >
                  </fb-alert>
                </span>
              }
            </div>
          }

          <!-- Interaction Help Container Panel -->
          @if (isInteracting()) {
            <fb-interact-help (cancel)="closeInteraction()"> </fb-interact-help>
          }

          <!-- *** Nav data panel ***-->
          @if (!isInteracting()) {
            <div class="navdataPanel">
              @if (navDataPanel().nextPointCtrl) {
                <route-nextpoint
                  [index]="course.courseData().pointIndex"
                  [total]="course.courseData().pointTotal"
                  [circular]="app.data.activeRouteCircular"
                  (selected)="routeNextPoint($event)"
                >
                </route-nextpoint>
              }
              @if (app.config.ui.showCourseData && navDataPanel().show) {
                <div style="display: flex; flex-wrap: nowrap">
                  <div class="fb-app-background" style="display: flex">
                    <div style="width: 40px">
                      <fb-button
                        variant="ghost"
                        ariaLabel="Course Settings"
                        fbTooltip="Course Settings"
                        (pressed)="openCourseSettings()"
                      >
                        <fb-icon
                          class="ob"
                          svgName="navigation-route"
                          ariaLabel=""
                        ></fb-icon>
                      </fb-button>
                      <br />
                      <fb-button
                        variant="ghost"
                        ariaLabel="Engage Autopilot"
                        fbTooltip="Autopilot Console"
                        fbTooltipPosition="above"
                        [disabled]="
                          !app.featureFlags().autopilotApi ||
                          !app.data.vessels.self.autopilot.default
                        "
                        fbTooltip="Engage Autopilot"
                        (pressed)="autopilot.engage()"
                      >
                        <fb-icon
                          class="ob"
                          [class.icon-primary]="
                            navDataPanel().apModeColor === 'primary'
                          "
                          svgName="command-autopilot"
                          ariaLabel=""
                        ></fb-icon>
                      </fb-button>
                    </div>
                    <div>
                      <fb-button
                        variant="ghost"
                        ariaLabel="Restart XTE"
                        fbTooltip="Restart XTE"
                        (pressed)="course.courseRestart()"
                      >
                        <fb-icon name="replay" ariaLabel=""></fb-icon>
                      </fb-button>
                      <br />
                      <fb-button
                        variant="ghost"
                        ariaLabel="Reverse route direction"
                        fbTooltip="Reverse route direction"
                        fbTooltipPosition="above"
                        [disabled]="!app.data.activeRoute"
                        (pressed)="course.courseReverse()"
                      >
                        <fb-icon
                          name="multiple_stop"
                          [class.icon-primary]="app.data.activeRouteReversed"
                          ariaLabel=""
                        ></fb-icon>
                      </fb-button>
                    </div>
                  </div>
                  @if (course.courseData().vmg) {
                    <ap-dial-text
                      [title]="'VMG'"
                      [value]="app.formatSpeed(course.courseData().vmg, true)"
                      [units]="app.formattedSpeedUnits"
                    >
                    </ap-dial-text>
                  }
                  @if (course.courseData().bearing.value) {
                    <ap-dial-text
                      [title]="'BRG'"
                      [value]="course.courseData().bearing.value.toFixed(1)"
                      [units]="
                        course.courseData().bearing.type === 'M'
                          ? 'deg (M)'
                          : 'deg (T)'
                      "
                    >
                    </ap-dial-text>
                  }
                  @if (course.courseData().xte) {
                    <ap-dial-text
                      [title]="'XTE'"
                      [value]="
                        course.courseData().xte > 10
                          ? course.courseData().xte.toFixed(1)
                          : course.courseData().xte.toFixed(3)
                      "
                      [units]="convert.getSymbol(app.config.units.distance)"
                    >
                    </ap-dial-text>
                  }
                  @if (app.data.activeRoute) {
                    @if (course.courseData().route.dtg) {
                      <ap-dial-text
                        [title]="'DTG'"
                        subTitle="RT"
                        [value]="course.courseData().route.dtg.toFixed(1)"
                        [units]="convert.getSymbol(app.config.units.distance)"
                      >
                      </ap-dial-text>
                    }
                    @if (course.courseData().route.ttg) {
                      <ap-dial-ttg
                        subTitle="RT"
                        [value]="course.courseData().route.ttg"
                      >
                      </ap-dial-ttg>
                    }
                    @if (course.courseData().route.eta) {
                      <ap-dial-eta
                        [title]="'ETA'"
                        subTitle="RT"
                        [value]="course.courseData().route.eta"
                      >
                      </ap-dial-eta>
                    }
                  }
                  @if (course.courseData().dtg) {
                    <ap-dial-text
                      [title]="'DTG'"
                      [value]="course.courseData().dtg.toFixed(1)"
                      [units]="convert.getSymbol(app.config.units.distance)"
                    >
                    </ap-dial-text>
                  }
                  @if (course.courseData().ttg) {
                    <ap-dial-ttg [value]="course.courseData().ttg">
                    </ap-dial-ttg>
                  }
                  @if (course.courseData().eta) {
                    <ap-dial-eta
                      [title]="'ETA'"
                      [value]="course.courseData().eta"
                    >
                    </ap-dial-eta>
                  }
                </div>
              }
            </div>
          }
          @if (!isInteracting() && !app.kioskMode()) {
            <mfb-container [action]="app.config.display.fab"> </mfb-container>
          }
        </main>
      </div>
    </div>
    <!-- /content -->
  </div>
</div>
