<div class="resourcelist">
  <fb-card style="border-radius: unset">
    <fb-card-header>
      <span fbCardTitle>
        <div class="title-block">
          <div class="w-50">
            <fb-button
              variant="ghost"
              (pressed)="close()"
              fbTooltip="Close Route List"
              fbTooltipPosition="right"
              ariaLabel="Close Route List"
            >
              <fb-icon name="arrow_back" ariaLabel=""></fb-icon>
            </fb-button>
          </div>
          <div class="flex-auto pt-sm">Routes</div>
        </div>
      </span>
    </fb-card-header>
    <fb-card-content>
      <div class="flex">
        <div class="flex-auto pl-xs">
          <fb-search-input
            label="Filter routes"
            [value]="filterText"
            (valueChange)="filterKeyUp($event)"
            [widthPx]="180"
          />
        </div>
        <div>
          <fb-button
            variant="ghost"
            [disabled]="disableRefresh"
            (pressed)="initItems()"
            fbTooltip="Reload Routes"
            fbTooltipPosition="below"
            ariaLabel="Reload Routes"
          >
            <fb-icon name="refresh" ariaLabel=""></fb-icon>
          </fb-button>
        </div>
        <div>
          <fb-checkbox
            #selall
            [disabled]="fullList.length === 0 || disableRefresh"
            [checked]="allSel"
            [indeterminate]="someSel"
            (checkedChange)="toggleAll($event)"
            [fbTooltip]="(!selall.checked() || someSel) ? 'Select All' : 'Deselect All'"
            fbTooltipPosition="below"
          >
          </fb-checkbox>
        </div>
      </div>
    </fb-card-content>
  </fb-card>

  <div class="resources">
    @if(this.app.sIsFetching()) {
    <fb-progress-bar indeterminate></fb-progress-bar>
    }
    <cdk-virtual-scroll-viewport class="vscroller" itemSize="120">
      <fb-card
        *cdkVirtualFor="let r of filteredList(); let i= index;"
        class="list-divider"
      >
        <fb-card-content>
          <div class="flex pl-xs">
            <div class="list-name-col">
              <div
                style="
                  padding-top: var(--space-md);
                  text-overflow: ellipsis;
                  overflow-x: hidden;
                  white-space: pre;
                "
              >
                <b>{{r[1].name}}</b>
              </div>
              <remark
                style="
                  flex: 1 1 auto;
                  text-align: left;
                  font-style: italic;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  line-clamp: 2;
                  text-overflow: ellipsis;
                "
                [markdown]="r[1].description ?? ''"
              >
                <ng-template remarkTemplate="heading" let-node>
                  <h1
                    [remarkNode]="node"
                    style="font-size: var(--font-size-sm)"
                  ></h1>
                </ng-template>
              </remark>
              <div>
                <i>{{formatDistance(r[1].distance)}} </i>
              </div>
            </div>
            <div class="text-right">
              <fb-checkbox
                [checked]="r[2]"
                [disabled]="r[0] === activeRoute() || disableRefresh"
                (checkedChange)="itemSelect($event, r[0])"
                fbTooltip="Show on Map"
                fbTooltipPosition="left"
              >
              </fb-checkbox>
            </div>
          </div>
        </fb-card-content>
        <fb-card-actions align="start">
          <div class="flex">
            <div class="flex-auto">
              <fb-button
                variant="ghost"
                (pressed)="itemDelete(r[0])"
                [disabled]="r[0] === activeRoute() || disableRefresh"
                fbTooltip="Delete Route"
                fbTooltipPosition="above"
                ariaLabel="Delete Route"
              >
                <fb-icon name="delete" ariaLabel=""></fb-icon>
              </fb-button>
              <fb-button
                variant="ghost"
                (pressed)="itemViewNotes(r)"
                fbTooltip="Route notes"
                fbTooltipPosition="above"
                ariaLabel="Route notes"
              >
                <fb-icon name="local_offer" ariaLabel=""></fb-icon>
              </fb-button>
              <fb-button
                variant="ghost"
                [disabled]="disableRefresh"
                (pressed)="itemViewPoints(r[0])"
                fbTooltip="Route points"
                fbTooltipPosition="above"
                ariaLabel="Route points"
              >
                <fb-icon name="flag" ariaLabel=""></fb-icon>
              </fb-button>
              @if(r[0] !== activeRoute()) {
              <fb-button
                variant="ghost"
                [disabled]="disableRefresh"
                (pressed)="itemSetActive(r[0])"
                fbTooltip="Start"
                fbTooltipPosition="above"
                ariaLabel="Start"
              >
                <fb-icon name="near_me" ariaLabel=""></fb-icon>
              </fb-button>
              } @else {
              <fb-button
                variant="ghost"
                [disabled]="disableRefresh"
                (pressed)="itemClearActive(r[0])"
                fbTooltip="Clear Active Route"
                fbTooltipPosition="above"
                ariaLabel="Clear Active Route"
              >
                <fb-icon name="clear_all" ariaLabel=""></fb-icon>
              </fb-button>
              }
            </div>
            <div>
              <fb-button
                variant="ghost"
                [disabled]="disableRefresh"
                (pressed)="itemProperties(r[0])"
                fbTooltip="Edit Route Properties"
                fbTooltipPosition="above"
                ariaLabel="Edit Route Properties"
              >
                <fb-icon name="edit" ariaLabel=""></fb-icon>
              </fb-button>
            </div>
            @if(app.featureFlags().resourceGroups) { &nbsp;
            <div>
              <fb-button
                variant="ghost"
                [disabled]="disableRefresh"
                (pressed)="itemAddToGroup(r[0])"
                fbTooltip="Add to Group"
                fbTooltipPosition="above"
                ariaLabel="Add to Group"
              >
                <fb-icon name="category" ariaLabel=""></fb-icon>
              </fb-button>
            </div>
            }
          </div>
        </fb-card-actions>
      </fb-card>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
